:root {
  --green: #014b2a;
  --gold: #e8c439;
}

@font-face {
  font-family: 'Papyrus';
  src: url('fonts/Papyrus/Papyrus-02.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'Papyrus', sans-serif;
  scroll-behavior: smooth;
  background-color: var(--green);
  background: linear-gradient(to right, 
              #014b2a 0%, 
              #103324 15%,
              #103324 85%,
              #014b2a 100%);
}

section {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

section h2 {
  background: linear-gradient(45deg, #ffd700, #e5c100, #b59f00);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.golden-text {
  background: linear-gradient(45deg, #ffd700, #e5c100, #b59f00);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 3rem;
}

.banner {
  background: url('images/banner_2.jpg') center/cover no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 10px;
}

.banner-content h1 {
  margin-bottom: 1rem;
}

.navbar {
  background: var(--green);
  color: white;
  position: relative;
  width: 100%;
  z-index: 100;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

.navbar li {
}

.navbar a {
  display: block;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  background: linear-gradient(45deg, #ffd700, #e5c100, #b59f00);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.navbar a span {
  display: block;
  font-size: 22px;
}
.navbar a span:first-child {
  border-bottom: solid 1px;
  font-size: 16px;
}
.navbar-inner {
  display: none;
}
.logo-img {
  width: 150px;
}
.logo-img img {
  width: 100%;
}
.hamburger {
  display: none; /* Скрыть на десктопах */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
  padding: 10px;
}

.hamburger span {
  background-color: white;
  height: 4px;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #e8e8e8;
}


/* Стили для мобильных устройств */
@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: var(--green);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
  }

  .navbar ul.active {
    display: flex;
  }

  .navbar a {
    padding: 15px 20px;
    font-size: 18px;
  }

  .navbar-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
  }
  .container {
    width: 100%;
  }
}

/*---------------------------------------------*/

.about-block {

}
.about-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}
.about-img {
  width: 100%;
}
.about-img img {
  width: 100%;
}
.about-info {
  
}
.about-info-description {
  
}

@media (max-width: 576px) {
  .about-content {
    grid-template-columns: 1fr;
  }
}
/*---------------------------------------------*/
.audience-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.audience-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  color: var(--gold);
  padding: 20px;
  border-radius: 4px;
}
.audience-info-title {
  font-weight: 600;
  font-size: 24px;
}
.audience-info-list {
  
}
.audience-info-list li {
  
}
@media (max-width: 768px) {
  .audience-content {
    grid-template-columns: 1fr;
  }
}